.containerShare {
  width: 100%;

  font-family: $fontMain;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttonCreateCard {
    background-color: $colorDullOrange;
    border: none;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);

    width: 199px;
    height: 50px;

    padding: 13px 18px 13px 17px;
    margin: 20px 0 30px;

    color: $colorWhite;
    font-family: $fontMain;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    &__icon {
      width: 25px;
      height: 22px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--sent {
      background-color: $colorWhiteThree;
      cursor: not-allowed;
    }
  }
}

.containerDone {
  border-top: $colorWhiteTwo solid 1px;

  padding-bottom: 30px;

  font-family: $fontMain;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {

    margin-top: 30px;

    color: $colorGunmetal;
    font-size: 18px;
    font-weight: 600;
  }

  &__link {
    margin-top: 10px;

    color: $colorDullOrange;
    font-size: 12px;
    font-weight: 600;
  }

  .buttonShare {
    background-color: $colorAzure;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);

    width: 181px;
    height: 30px;

    padding: 3px 9px 6px 10.5px;
    margin-top: 10px;

    color: $colorWhite;
    font-family: $fontMain;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    &__link {
      color: $colorWhite;
    }
  }
}
