// Fuentes
$fontMain: "Open Sans", sans-serif;
$fontTitle: "Montserrat", sans-serif;
$fontSection: "Merriweather", serif;

// Colores principales
$colorBlack: #000000;
$colorDarkGreenBlue: #114e4e;
$colorDirtyBlue: #438792;
$colorHospitalGreen: #a2deaf;
$colorLightKhaki: #f9f4dc;
$colorWhite: #ffffff;
$colorDullOrange: #e17334;

// Colores sección DISEÑA
$colorDriedBlood: #420101;
$colorRustyRed: #bd1010;
$colorTomato: #e95626;
$colorSlate: #3e5b65;
$colorFadedOrange: #eab052;
$colorLightGreyBlue: #a0c0cf;

// Colores sección PREVIEW
$colorSilver: #bfcdd0;
$colorPaleGrey: #dde9ed;

// Otros colores
$colorWhiteTwo: #d8d8d8;
$colorWhiteThree: #d5d5d5;
$colorWhiteFour: #f5f5f5;
$colorAzure: #00a0f5;
$colorBrownishGrey: #6b6b6b;
$colorGunmetal: #54585a;
$colorPlaceholder: #c5c5c5;
