.containerFill {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px;
  color: $colorDarkGreenBlue;
  font-family: $fontMain;
  font-size: 14px;
}

.label {
  padding-bottom: 10px;
}

.field {
  margin-bottom: 20px;
  height: 30px;
  font-size: 14px;
  border: 1px solid $colorHospitalGreen;
  padding-left: 10px;
  color: $colorDarkGreenBlue;

  //dar otro color de borde cuando escribes en el field:
  // &:focus {
  //   border: $colorRustyRed;
  // }
}

.component {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;

  &__btnAddImage {
    display: flex;
    background-color: $colorDullOrange;
    color: $colorWhite;
    border-radius: 3px;
    align-items: center;
    padding-top: 3px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 7px;
    cursor: pointer;
  }

  &__square {
    width: 30px;
    height: 30px;
    border: 1px solid $colorHospitalGreen;
    background-size: cover;
    background-position: center;
  }
}

::placeholder {
  color: $colorPlaceholder;
}

// Estilos subir imagen
.action {
  text-align: center;
  margin: 30px;
}
.action__upload-btn {
  background: deeppink;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 0 5px rgba(#000, 0.3);
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  width: 250px;
  cursor: pointer;
}
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
  display: none;
}

.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.profile__image,
.profile__preview {
  background-position: center;
  backrgound-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}
.profile__image {
  width: 300px;
  height: 300px;
}

.profile__preview {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
