.containerDesign {
  display: flex;
  margin: 20px 0 10px 19px;

  @media all and (min-width: 768px) {
    margin-left: 0;
  }

  &__title {
    flex-grow: 0.95;
    text-transform: uppercase;
    font-family: $fontMain;
    font-size: 14px;
    color: $colorGunmetal;
  }
}

.options__palette {
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  .radio {
    margin-right: 10px;
    cursor: pointer;
  }

  .palette__sample {
    width: 30px;
    height: 25px;
    &--1 {
      background-color: $colorDarkGreenBlue;
    }
    &--2 {
      background-color: $colorDirtyBlue;
    }
    &--3 {
      background-color: $colorHospitalGreen;
    }
    &--4 {
      background-color: $colorDriedBlood;
    }
    &--5 {
      background-color: $colorRustyRed;
    }
    &--6 {
      background-color: $colorTomato;
    }
    &--7 {
      background-color: $colorSlate;
    }
    &--8 {
      background-color: $colorFadedOrange;
    }
    &--9 {
      background-color: $colorLightGreyBlue;
    }
  }
}
