.preview {
  background: linear-gradient(to bottom, $colorSilver, $colorPaleGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 457px; al ponerle el padding para que se centre, la altura no es demasiado diferente en versión móvil y se descuajeringa en las versiones tablet y desktop
  padding: 45px;

  @media all and (min-width: 768px) {
    border-radius: 6px;
    flex-grow: 1;
  }

  .card__reset {
    height: 30px;
    padding: 5px 12px;
    border-radius: 15px;
    border: solid 1px $colorWhite;
    background-color: transparent;
    color: $colorGunmetal;
    font-family: $fontMain;
    font-size: 12px;
    text-transform: uppercase;

    cursor: pointer;

    .card__icon {
      margin-right: 8px;
    }
  }

  .containerCard {
    width: 240px;
    min-height: 329px;
    margin: 20px 0 0;
    padding: 21px 0 12px;
    border-radius: 2px;
    background-color: $colorWhite;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 10px 0;

    .cardInfo {
      font-family: $fontTitle;
      border-left: solid 5px $colorDirtyBlue;
      padding: 0 20px 0 15px;
      min-height: 42px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__name {
        color: $colorDarkGreenBlue;
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 8px;
      }

      &__description {
        color: $colorGunmetal;
        font-size: 16px;
      }
    }
  }

  .cardImage {
    background-image: url(../images/profile_card1.png);
    background-size: cover;
    height: 200px;
    margin: 10px 0;
  }

  .cardMenu {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      margin: 0 10px 0 0;
      border-radius: 50%;
      border: solid 2px $colorHospitalGreen;
    }

    &__link {
      color: $colorDarkGreenBlue;
      padding: 10px;
    }
  }
}

// Clases para JS
.preview .palette-1 {
  .cardInfo {
    border-left: solid 5px $colorDirtyBlue;
  }
  .cardInfo .cardInfo__name {
    color: $colorDarkGreenBlue;
  }
  .cardMenu__icon {
    border: solid 2px $colorHospitalGreen;
  }
  .cardMenu__link {
    color: $colorDarkGreenBlue;
  }
}

.preview .palette-2 {
  .cardInfo {
    border-left: solid 5px $colorRustyRed;
  }
  .cardInfo .cardInfo__name {
    color: $colorDriedBlood;
  }
  .cardMenu__icon {
    border: solid 2px $colorTomato;
  }
  .cardMenu__link {
    color: $colorDriedBlood;
  }
}

.preview .palette-3 {
  .cardInfo {
    border-left: solid 5px $colorFadedOrange;
  }
  .cardInfo .cardInfo__name {
    color: $colorSlate;
  }
  .cardMenu__icon {
    border: solid 2px $colorLightGreyBlue;
  }
  .cardMenu__link {
    color: $colorSlate;
  }
}
