.form {
  width: 100%;
  max-width: 329px;

  flex-grow: 0;

  margin: 0 auto;

  .fieldset {
    border-bottom: $colorWhiteTwo solid 1px;

    margin: 30px 20px;

    .legend {
      width: 100%;
      margin: 10px 0;

      color: $colorGunmetal;
      font-size: 18px;
      font-weight: 600;

      display: flex;

      cursor: pointer;

      &__text {
        margin-left: 10px;

        flex-grow: 1;
      }

      &__icon {
        width: 21px;
        height: 18px;

        font-size: 18px;

        flex-grow: 0;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__icon {
        width: 21px;
        height: 18px;

        font-size: 18px;

        flex-grow: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        &--orange {
          color: $colorDullOrange;
        }

        &--arrow {
          color: $colorGunmetal;
        }
      }
    }
  }
}
