<section class="preview">
  <!--Parte silver-->
  <article>
    <button class="card__reset js_reset" href="">
      <i class="card__icon far fa-trash-alt"></i>Reset
    </button>

    <!--Parte blanca-->
    <div class="palette-1 containerCard js_preview">
      <!--Datos personales-->
      <div class="cardInfo js_cardInfo">
        <h2 class="cardInfo__name js_cardName">Nombre apellidos</h2>
        <p class="cardInfo__description js_cardJob">Front-end developer</p>
      </div>

      <div class="cardImage js__profile-image"></div>

      <nav>
        <ul class="cardMenu">
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardPhone js_cardLink"
              href=""
              target="_blank"
              title="Número de teléfono"
              ><i class="icon fas fa-mobile-alt"></i>
            </a>
          </li>
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardEmail js_cardLink"
              href=""
              target="_blank"
              title="Dirección de correo"
              ><i class="icon far fa-envelope"></i>
            </a>
          </li>
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardLinkedin js_cardLink"
              href=""
              target="_blank"
              title="Perfil en LinkedIn"
              ><i class="icon fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardGithub js_cardLink"
              href=""
              target="_blank"
              title="Perfil de GitHub"
              ><i class="icon fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>
