<form action="" class="form js_form">
  <fieldset class="fieldset">
    <legend
      class="legend js_designLegend uppercase"
      id="designLegend"
      title="Elige los colores"
    >
      <i class="far fa-object-ungroup legend__icon legend__icon--orange"></i>
      <span class="legend__text">Diseña</span>
      <i
        class="fas fa-angle-up legend__icon legend__icon--arrow js_arrowDesign"
      ></i>
    </legend>
    <include src="./form_design.html"></include>
  </fieldset>

  <fieldset class="fieldset">
    <legend
      class="legend js_fillLegend uppercase"
      id="fillLegend"
      title="Escribe tus datos"
    >
      <i class="far fa-keyboard legend__icon legend__icon--orange"></i>
      <span class="legend__text">Rellena</span>
      <i
        class="fas fa-angle-up legend__icon legend__icon--arrow js_arrowFill rotate"
      ></i>
    </legend>
    <include src="./form_fill.html"></include>
  </fieldset>

  <fieldset class="fieldset">
    <legend
      class="legend js_shareLegend uppercase"
      id="shareLegend"
      title="¡Comparte tu tarjeta!"
    >
      <i class="fa-solid fa-share-nodes legend__icon legend__icon--orange"></i>
      <span class="legend__text">Comparte</span>
      <i
        class="fas fa-angle-up legend__icon legend__icon--arrow js_arrowShare rotate"
      ></i>
    </legend>
    <include src="./form_share.html"></include>
  </fieldset>
</form>
