<section class="containerDesign js_design">
  <h2 class="containerDesign__title">Colores</h2>
  <div class="containerDesign__options">
    <div class="options__palette">
      <input
        class="radio js_radio-1 js_radio"
        name="palette"
        type="radio"
        id="radio1"
        value="1"
        checked
      />

      <label for="radio1" class="palette__sample palette__sample--1"></label>

      <label for="radio1" class="palette__sample palette__sample--2"></label>

      <label for="radio1" class="palette__sample palette__sample--3"></label>
    </div>

    <div class="options__palette">
      <input
        class="radio js_radio-2"
        name="palette"
        type="radio"
        id="radio2"
        value="2"
      />

      <label for="radio2" class="palette__sample palette__sample--4"></label>

      <label for="radio2" class="palette__sample palette__sample--5"></label>

      <label for="radio2" class="palette__sample palette__sample--6"></label>
    </div>

    <div class="options__palette">
      <input
        class="radio js_radio-3"
        name="palette"
        type="radio"
        id="radio3"
        value="3"
      />

      <label for="radio3" class="palette__sample palette__sample--7"></label>

      <label for="radio3" class="palette__sample palette__sample--8"></label>

      <label for="radio3" class="palette__sample palette__sample--9"></label>
    </div>
  </div>
</section>
